{% extends "master.html" %}

{% block title %}P&aacute;gina Inicial{% endblock %}

{% block page-content %}
<h1>Meu Teste</h1>

    <p >{{ Teste}},</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet risus id ex faucibus, ac venenatis dui ultricies. Nullam at sodales lacus. Duis vitae elit eget nisl scelerisque rhoncus. Curabitur et scelerisque magna, ut imperdiet magna. Cras vulputate felis in pretium tincidunt. Etiam consectetur elit eu metus dignissim luctus.
        Nulla pretium accumsan tempus.
        Fusce in nibh arcu. Etiam lacinia augue pellentesque tincidunt elementum. Nulla facilisi. Pellentesque ac purus vel ipsum tincidunt auctor.
        Phasellus neque enim, tincidunt id ultricies in, egestas in ex. Mauris lacinia et metus ut rhoncus. Vivamus eleifend, sapien id volutpat tincidunt, arcu lorem tincidunt massa, sit amet
        euismod ex lectus a enim. Praesent sed enim at leo consequat auctor. Vestibulum nec arcu sed dolor ullamcorper malesuada facilisis et felis. Morbi mattis faucibus felis a accumsan. Aenean congue volutpat lectus, ultrices dapibus urna aliquet eu. Nulla lectus nulla, vulputate in vulputate eu, rhoncus non odio. Donec consectetur sagittis finibus.</p>

{% endblock %}